@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-4">
	<div class="container">
		<div class="card shadow">
			<div class="card-header bg-primary text-white text-center">
				<h5> Add School Registration</h5>
			</div>
			<div class="card-body">
				<a class="btn btn-primary" asp-action="Create" asp-controller="StudentRegistration">
					Add School Registration
				</a>
			</div>

		</div>
	</div>
</div>
